<%- include('../../fragments/header.ejs') %>

<main>
  <h2>Lista szegół zamowień</h2>
  <table class="table-list">
    <thead>
      <tr>
        <th>Cena</th>
        <th>Zniżka</th>
        <th>Ilość</th>
        <th>Komientarży</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody>
      <% for (let orderDetails of orderdet) { %>
      <tr>
        <!-- orderdet -->
        <td><%= orderDetails.cost %></td>
        <td><%= orderDetails.discount %></td>
        <td><%= orderDetails.amount %></td>
        <td><%= orderDetails.comments %></td>
        <td>
          <ul class="list-actions">
            <li>
              <a
                href="/orderDetails/details/<%=orderDetails._id%>"
                class="list-actions-button-details"
                >Szczegóły</a
              >
            </li>
            <li>
              <a
                href="/orderDetails/edit/<%=orderDetails._id%>"
                class="list-actions-button-edit"
                >Edytuj</a
              >
            </li>
            <li>
              <a
                href="/orderDetails/delete/<%=orderDetails._id%>"
                class="list-actions-button-delete"
                >Usuń</a
              >
            </li>
          </ul>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>

  <!-- <main>
      <h2>Lista zamówień</h2>
      <table class="table-list">
        <thead>
          <tr>
            <th>Cena</th>
            <th>Zniżka</th>
            <th>Ilość</th>
            <th>Komientarży</th>
            <th>Akcje</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>5600</td>
            <td>5.0</td>
            <td>1</td>
            <td>Prosze szybcej</td>
            <%- include('../../fragments/buttonsOrderDetails.ejs') %>
          </tr>

          <tr>
            <td>3200</td>
            <td>0.0</td>
            <td>2</td>
            <td>Lubię ten sklep</td>
            <%- include('../../fragments/buttonsOrderDetails.ejs') %>
          </tr>

          <tr>
            <td>10200</td>
            <td>10.0</td>
            <td>1</td>
            <td>Mam dużo pienędzy</td>
            <%- include('../../fragments/buttonsOrderDetails.ejs') %>
          </tr>
        </tbody>
      </table> -->
  <p>
    <a href="/orderDetails/add" class="button-add">Dodaj nowe zamowienie</a>
  </p>
</main>

<%- include('../../fragments/footer.ejs') %>
